<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="./styles/home.css")
        title Document
    body
        include includes/navigationBar
        div.wrapper.upperBox
            //- h1 Welcome to the home page
            div(class = 'avatarHead')
                img(src="images/avatar.JPG")

            div(class = 'descriptionHead')
                div.content
                    h1 M M Shahabaz Baig
                    p This is me and here what it is
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsam debitis error voluptatem fugiat itaque at, illo earum aliquam quo eos adipisci? Recusandae necessitatibus maxime consectetur ducimus amet fugiat tenetur.
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aperiam voluptatem adipisci et vitae, optio, ipsum inventore atque perferendis vel repellendus! Ut ad perspiciatis laborum, eum voluptatibus neque qui animi?
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsam debitis error voluptatem fugiat itaque at, illo earum aliquam quo eos adipisci? Recusandae necessitatibus maxime consectetur ducimus amet fugiat tenetur.
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aperiam voluptatem adipisci et vitae, optio, ipsum inventore atque perferendis vel repellendus! Ut ad perspiciatis laborum, eum voluptatibus neque qui animi?
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsam debitis error voluptatem fugiat itaque at, illo earum aliquam quo eos adipisci? Recusandae necessitatibus maxime consectetur ducimus amet fugiat tenetur.
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aperiam voluptatem adipisci et vitae, optio, ipsum inventore atque perferendis vel repellendus! Ut ad perspiciatis laborum, eum voluptatibus neque qui animi?



    
    script(src="./scripts/script.js")