body{
    /* color:#E1F5FE; */
    color: white;
    margin : 0;
    background-image:linear-gradient(rgba(22, 19, 19, 0.9) , rgba(1, 1, 7, 0.3)),url(/images/me.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
/* 
nav{
    padding : 20px;
    text-align: center;
}

nav a{
    padding : 30px;
    color: white;
    text-decoration: none;
    margin : 40px;
    font-size: 20px
}
nav a:hover{

    color: bisque;
    background-color: #546E7A;
    border-radius: 5px;
    text-decoration: none;

} */

.mainTitle{
    text-align: center;
}
.thingTitle{
    text-align: center;
    /* line-height: 0.2em; */
    margin-top: 20px;
    padding : 20px;
    
}
/* 
h2 span { 
    /* background:#fff;  */
    /* padding:0 10px;  */
    /* background-color:black; */
/* }  */

/* navigation styling */
nav a{
    padding : 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;    
}
nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.6);

}
nav a:hover{

    color: bisque;
    background-color: #546E7A;
    border-radius: 5px;
    text-decoration: none;

}




/* upperbox styling */
.upperbox{
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border:solid 1px black; */
    /* margin-top:20px; */
    height:80vh;
    

}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content p{
    margin : 10px;
    text-align: justify;
}



.link{
    margin-top: 20px;
    text-align: center;
}

.link a{
    font-size: 40px;
    text-align: center;
    padding : 10px;
    color : white;

}




/* lowerbox styling */
.lowerbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 85vh;
    margin-top : 10px;
    margin-bottom: 30px;
    justify-content:center;
    align-items: center; 
    grid-gap: 10px;
    /* background-color:black; */
}
.container{
    background-color:rgba(1, 1, 7, 0.5);
    height: 100vh;

}

.lowerbox div{
    text-align : center;
    height : 20vh;
    /* background-color:rgba(1, 1, 7, 0.5) */
    /* background-color:rgba(1, 1, 7, 0.3) */
    /* display: flex;
    align-content: center;
    align-items: center; */
    /* text-align: center; */
    
}
.things{
 
    display: flex;  
    flex-flow: column;  
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #e0339b;

}

/* .lowerbox div{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    
} */


/* containerBtm styling */
.containerBtm{
    background-color: white;
    color:black;
    height:100vh;
}

.btmBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}