body{
    /* color:#E1F5FE; */
    color: white;
    margin : 0;
    background-image:url("https://images.unsplash.com/photo-1470410908901-b95c57c86e27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
/* 
nav{
    padding : 20px;
    text-align: center;
}

nav a{
    padding : 30px;
    color: white;
    text-decoration: none;
    margin : 40px;
    font-size: 20px
}
nav a:hover{

    color: bisque;
    background-color: #546E7A;
    border-radius: 5px;
    text-decoration: none;

} */

.mainTitle{
    text-align: center;
    color : rgb(248, 151, 4);
    /* background-color: black; */
}
.thingTitle{
    text-align: center;
    /* line-height: 0.2em; */
    margin-top: 20px;
    padding : 20px;
    
}
/* 
h2 span { 
    /* background:#fff;  */
    /* padding:0 10px;  */
    /* background-color:black; */
/* }  */

/* navigation styling */
nav a{
    padding : 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;    
}
nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.6);

}
nav a:hover{

    color: bisque;
    background-color: #546E7A;
    border-radius: 5px;
    text-decoration: none;

}




/* upperbox styling */
.upperbox{
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border:solid 1px black; */
    /* margin-top:20px; */
    height:80vh;
    

}
.upperbox .content p{
    line-height: 1.6;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content p{
    margin : 10px;
    text-align: justify;
}



.link{
    margin-top: 20px;
    text-align: center;
}

.link a{
    font-size: 40px;
    text-align: center;
    padding : 10px;
    color : white;

}




/* lowerbox styling */
.lowerbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 85vh;
    margin-top : 10px;
    margin-bottom: 30px;
    justify-content:center;
    align-items: center; 
    grid-gap: 10px;
    /* background-color:black; */
}
.container{
    background-color:#100e1758;
    height: 100vh;

}

.lowerbox div{
    text-align : center;
    height : 20vh;
    /* background-color: #19161d; */
    /* background-color:rgba(1, 1, 7, 0.5) */
    /* background-color:rgba(1, 1, 7, 0.3) */
    /* display: flex;
    align-content: center;
    align-items: center; */
    /* text-align: center; */
    
}
.things{
 
    display: flex;  
    flex-flow: column;  
    align-content: center;
    justify-content: center;
    align-items: center;
    color:rgb(248, 151, 4);
    /* column-gap: 2vh; */

}

.lowerbox div{
    /* display: flex;
    align-content: center;
    align-items: center;
    text-align: center; */

    margin : 20px;
    
}


/* containerBtm styling */
.containerBtm{
    background-color: #100e17ad;
    color:white;
    height:auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    
    
    /* margin-top:30px; */
}
.containerBtm button{
    width:fit-content;
    justify-self: center;
    text-align: center;

}
.btmTitle{
    text-align: center;
}

.btmBox{
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-top:30px;
    grid-gap: 10px;
    grid-column-gap: 10vh;
    grid-row-gap: 3vh;
    margin-bottom: 30px;
}

.btmBox div{
    
    text-align: justify;
    line-height: 1.6;
    /* background: #17141d; */
    width:auto;
    height:auto;

}

.btmBox img{
    /* width: auto; */
    /* height: 23vh;*/
    width: 100%;
    height: 100%;
    height:25vh;
    border-radius: 3% 3% 3% 3%;

}

.matter{

    padding : 15px;
    background: #17141d;
    border-radius : 1.5rem;
    box-shadow:5px 5px 10px  rgb(0, 0, 0);

}
.matterThings{
    

    padding : 15px;
    background: #0e0d11a1;
    border-radius : 1.5rem;
    box-shadow:5px 5px 10px  rgb(0, 0, 0);
    

}
.btmBox h1{
    color: rgb(248, 151, 4);
}
.btmBox h3{
    color: rgb(243, 60, 105);
}
/* .show{
    display: none;
} */