body{
    /* background-color: #424242; */
    color:#E0E0E0;
    margin : 0;
    background-image:linear-gradient(rgba(22, 19, 19, 0.9) , rgba(1, 1, 7, 0.5)),url(/images/me.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    /* display: grid;
    grid-template-rows: repeat(1,1fr); */
    

}

html{
    scroll-behavior: smooth;
}


.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.avatarHead img{
   width: 300px;
   height: 300px;
   border-radius: 50%;
}

nav{
    padding : 20px;
    text-align: center;
    /* margin:0 auto;
    max-width: 1000px;
    /* position: fixed; */
    /* justify-content: center; */
}

nav a{
    padding : 30px;
    color: white;
    text-decoration: none;
    margin : 40px;
    font-size: 20px
}
nav a:hover{

    color: bisque;
    background-color: #546E7A;
    border-radius: 5px;
    text-decoration: none;

}

/* upperbox style  */

.upperBox{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    height: 100vh;
}
.avatarHead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px;
    
}

.descriptionHead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px;
}

.content {
    margin : 10px;
    

}
.content h1{
    font-size: 40px;
}
/* .upperBox{
    display: grid;
    grid-template-areas: 
        'avatarHead simpleHead'
        'avatarHead descriptionHead'
}

.avatarHead{
    grid-area: avatarhead;
}
.simpleHead{
    grid-area: simpleHead;
}

.descriptionHead{
    grid-area:  descriptionHead;
} */


/* footer styling */

.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height: 100vh;
}

.footer .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    /* height: 100vh; */
    
    
}
.footer .content div{
    height: auto;
}

.footer div{
    text-align: center;
}


.left, .center, .right{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin : 10px;
}

a{
    text-decoration: none;
    color : white;
    font-size: 20px;
}


/* .footer.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px;

}  */

.contactLinks a{
    margin : 10px;

}